<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-dark mt-5 pt-5"  th:fragment="footer">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <a href="" class="text-decoration-none">
                    <h1 class="mb-4 display-5 font-weight-semi-bold"><span
                            class="text-primary font-weight-bold border border-white px-3 mr-1">G</span>Uniformes</h1>
                </a>
                
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Bogotá-Colombia</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>uniformes@gmail.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>312-3456789</p>

            </div>
            
        </div>
        
    </div>
    <!-- Footer End -->
    
</body>
</html>